<!doctype html>
<html lang="en"><head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Node-RED UI Builder - VueJS + bootstrap-vue default template</title>
	<meta name="description" content="Node-RED UI Builder - VueJS + bootstrap-vue default template">

	<link rel="icon" href="./images/node-blue.ico">

	<link type="text/css" rel="stylesheet" href="../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.css" />
	<!-- Your own CSS -->
	<link type="text/css" rel="stylesheet" href="./index.css" media="all">
	<link type="text/css" rel="stylesheet" href="/unpkg/tabulator.min.css" />
	<script type="text/javascript" src="/unpkg/tabulator.min.js"></script>


</head>
<body>

	<div id="app" v-cloak>
		<b-container id="app_container">

			<b-sidebar id="example-sidebar" title="Menu" shadow>
				<div class="px-2 py-2">
					<b-button block variant="outline-primary" v-for="item in menu" v-bind:key="item.idx" :href="item.href">{{item.text}}</b-button>
				</div>
			</b-sidebar>

			<div class="mb-3">
				<h1>
				<b-button v-b-toggle href="#example-sidebar" @click.prevent>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
					</svg>
				</b-button>
				Document</h1>
			</div>
			
			<b-card>
				<h3 slot="header">
					<b-button block v-b-toggle.collapse-1 class="text-left">Document Selection</b-button>
				</h3>
				
				<b-collapse visible id="collapse-1" class="mt-2">
					<p>	
						<b-form-select v-model="doc" style="width:250px" v-on:change="switchDoc($event)">
							<template #first>
								<b-form-select-option :value="null" disabled>-- Please select a document --</b-form-select-option>
							</template>
							<template v-for="rec in docList">
								<option :value="rec.path + '/' + rec.filename">{{rec.filename}}</option>
							</template>
						</b-form-select>
					</p>
				
					<div v-if="showXlsx" id="showXlsx">
						<p>
							<b-form-select v-model="sheet" style="width:250px" v-on:change="switchSheet($event)">
								<template #first>
									<b-form-select-option :value="null" disabled>-- Please select the sheet --</b-form-select-option>
								</template>
								<template v-for="rec in sheetList">
									<option :value="rec">{{rec}}</option>
								</template>
							</b-form-select>
							<div v-if="showSheet">
								<p>
									<div id="sheet-table"></div>
								</p>
							</div>
							<b-form-select v-model="col" style="width:250px" v-on:change="switchCol($event)">
								<template #first>
									<b-form-select-option :value="null" disabled>-- Please select the column --</b-form-select-option>
								</template>
								<template v-for="rec in colList">
									<option :value=rec>{{rec}}</option>
								</template>
							</b-form-select>
						</p>
					</div>
				</b-collapse>
			</b-card>

			<br>

			<b-card>
				<h3 slot="header">Dictionary Selection</h3>
				<div>
					<b-container>
						<b-row align-h="start">
							<b-col sm="6">
								<b-form-group label="Language dictionary to be stored into:" v-slot="{ ariaDescribedby }">
									<b-form-checkbox-group
										id="checkbox-group-1"
										v-model="lang"
										:options="language"
										:aria-describedby="ariaDescribedby"
										name="flavour-1">
									</b-form-checkbox-group>
								</b-form-group>
							</b-col>
							<b-col sm="6">
								<div>
									<b-button id="readDic" pill variant="primary" v-on:click="doReadDic()">Optional Comparisons</b-button>
								</div>
								<br>
								<div>
									<b-form-select v-model="dic" multiple style="width:100%">
										<template #first>
											<b-form-select-option :value="null" disabled>-- Please select dictionaries --</b-form-select-option>
										</template>
										<template v-for="rec in dicList">
											<option :value=rec.subgroup>{{rec.subgroup.filename}},{{rec.subgroup.sheet}},{{rec.subgroup.col}}</option>
										</template>
									</b-form-select>
								</div>
							</b-col>
						</b-row>
						<b-row>
							<div v-if="showXlsx || showDocx" id="show">
									<p class="mt-1 pb-3">
										<!--b-button id="readDoc" @click="doEvent" data-instruction="readDoc">Scrape the selected document</b-button-->
										<b-button id="readDoc" pill variant="primary" v-on:click="doRead()">Scrape the selected document</b-button>
									</p>
							</div>
						</b-row>
					</b-container>
				</div>
			</b-card>

			<br>

			<b-card>
				<h3 slot="header">Token Selection</h3>

				<p>
					<div id="doc-table"></div>
				</p>
				<p class="mt-1 pb-3 text-right">
					<b-button id="tokenSubmit" pill variant="primary" v-on:click="doSubmit()">Save</b-button>
					<b-button id="visualize" pill variant="primary" v-on:click="doVisualize()">Visualize</b-button>
				</p>
			</b-card>

			<br>

			<b-card>
				<h3 slot="header">
					<div style="display:flex; justify-content: space-between">
						<div>Visualization Entity Relationship</div>
						<div><b-button id="dl_er" pill variant="primary" v-on:click="dl_er()">Download as spreadsheet</b-button> </div>
					</div>
				</h3>
				<p>
					<div v-html="doVisEr"></div>
				</p>
			</b-card>

			<br>

			<b-card>
				<h3 slot="header">
					<div style="display:flex; justify-content: space-between">
						<div>Visualization Element Relationship</div>
						<div><b-button id="dl_er" pill variant="primary" v-on:click="dl_el()">Download as SVG</b-button> </div>
					</div>
				</h3>
				<p>
					<div v-html="doVisRel"></div>
				</p>
			</b-card>

			</div>
			<br>

		</b-container>
	</div>

	<!-- These MUST be in the right order. Note no leading / -->

	<!-- REQUIRED: Socket.IO is loaded only once for all instances. Without this, you don't get a websocket connection -->
	<script src="../uibuilder/vendor/socket.io/socket.io.js"></script>

	<!-- Vendor Libraries - Load in the right order, use minified, production versions for speed -->
	<script src="../uibuilder/vendor/vue/dist/vue.js"></script> <!-- dev version with component compiler -->
	<!-- <script src="../uibuilder/vendor/vue/dist/vue.min.js"></script>   prod version with component compiler -->
	<!-- <script src="../uibuilder/vendor/vue/dist/vue.runtime.min.js"></script>   prod version without component compiler -->
	<script src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.js"></script> <!-- Dev version -->
	<!-- <script src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.min.js"></script>   Prod version -->

	<!-- REQUIRED: Sets up Socket listeners and the msg object -->
	<script src="./uibuilderfe.js"></script> <!-- dev version -->
	<!-- <script src="./uibuilderfe.min.js"></script>	 prod version -->

	<!-- OPTIONAL: You probably want this. Put your custom code here -->
	<script src="./document.js"></script>

</body></html>
